/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
/* delete the border guide info when you are done */
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  padding: 50px;
}




.button {
  height: 39px;
  width: 250px;
  border: 2px black solid;
  font-size: 24px;
  text-align: center;
  margin-left: 50px;
}
.button p {
  padding: 7px;
}
.logo {

}
h1 {
  font-size: 20px;
}

p {
  font-size: 18px;
}
.dividing-line {
  height: 2px;
  background: black;
}
.fixed-nav {
  /* position: fixed; */
  width: 100%;
  padding: 20px;
  z-index: 100;

}

header {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

header a {
  color: gray;
  text-decoration: none;
  margin-left: 60px;
  margin-right: 60px;
  display: inline-block;
}

header .logo {
  display: inline-block;
}
.banner {
  padding: 50px;
}
.banner h1 {
  font-size: 96px;
}

.banner img {
  display: inline-block;
}

.upper-section {
  width: 100%;
  padding: 50px;
}

.mid-page-accent {
  /* trbl */
  margin: 0 100px 0 100px;
}

.lower-section {
  padding: 50px;
}

.slogan-button {
  display: inline-block;
  text-align: center;
  margin-right: 50px;
}

.circle-image {
  display: inline-block;
  margin-left: 300px;
}

 .features {
  width: 45%;
  margin-right: 35px;
  display: inline-block;
  line-height: 35px;
}

.about {
  width: 45%;
  margin-left: 35px;
  display: inline-block;
  line-height: 35px;
}
.vision {
  width: 30%;

  /*border: red dotted 5px;*/
  display: inline-block;
  line-height: 35px;
}
.product {
  width: 30%;
  /*border: red dotted 5px;*/
  display: inline-block;
  line-height: 35px;
}
.services {
  width: 30%;
  /* border: red dotted 5px; */
  display: inline-block;
  line-height: 35px;
}
footer {
  line-height: 20px;
  font-size: 18px;
}

footer .copyright {
  text-align: center;
}

